
$white:#fff;
$gris-100:#dedede;
$gris-200:#ccc;
$gris-300:#999;
$gris-400:#666;
$gris-600:#444;
$gris-700:#222;
$clack:#000;
$color-primario:#ff7b00;
$color-primario-dark:darken($color-primario, 10);