
.overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.5)
}

// ICONOS
.icons{
    @include d-flex(space-between, center, row nowrap);
    
    a{
        
        @include d-flex(center, center, row nowrap);

        background: $color-primario;
        border-radius: 50%;
        color: $white;
        transition: all .5s;

        &:hover{
            background: $color-primario-dark;
        }
    }
}

// Botones

.btn{
    width: 170px;
    height: 40px;
    border:none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    transition: all .5s;
}

.btn-white{
    @extend .btn;
    @include btn($white, $color-primario);
    
    &:hover{
        background: $color-primario-dark;
        color: $white;
    }
}

.btn-primary{
    @extend .btn;
    @include btn($color-primario, $white);
    
    &:hover{
       transform: scale(1.1);
    }
}


.card{
    width: 30%;
    height: 300px;
    box-shadow:  0 0 10px 5px rgba($color: #000000, $alpha: 0.5);
    margin-bottom: 30px;
    background-size: cover!important;
    background-position: center!important;
    // transition: all .5s;
    cursor: default;
    
    &-container{
        @include d-flex(center, center, column nowrap);
        width:100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: 0.7);
        transition: all .5s;
        opacity: 0;


        .card-title{
            font-size: 40px;
            font-weight: 400;
            padding: 10px 0 0 0;
            color: $gris-700;
        }

    }

    &:hover &-container{
        opacity: 1;
    }
}

@for $i from 1 through 6 {
 
    .card:nth-child(#{$i}){
        background: url(/src/img/product#{$i}.jpg);
    }

   
}