



body{
    font-family: 'Poppins', sans-serif;

}

a{
    text-decoration: none;
}

header, section{
    padding-top: 100px 0;
}

.box-center{
    width: 80%;
    margin: auto;
}

h1.t-principal{
    font-family: 'Merienda';
    color: $white;
    font-size: 12vmin;
    font-weight: bold;
}

h1{
    color: $white;
    font-size: 10vmin;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

h2.t-secundario{
    font-size: 4vmin;
    text-align: center;
    color: $white;
    letter-spacing: 6px;
    font-weight: 400;
}

h3{
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 35px;
    color: $gris-700;
}

h4{
    color: $gris-600;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}


h5{
    font-size: 20px;
    font-weight: 400;
}

@for $i from 1 through 8{

    .text-solid#{$i}{
        color: lighten($gris-700, $i * 10%);
    }
}
@for $i from 1 through 8 {
    .bg-solid#{$i} {
      background: lighten($gris-700,  $i * (1 + $i))
    }
}
.text-primario{
    color: $color-primario;
}

.bg-primario{
    background: $color-primario;
}

.text-center{
    text-align: center;
}

.text-lite{
    font-family: "Merienda";
}

.border{
    border: 1px solid $gris-200;
}

.rounded{
    border-radius: 5px;

}

.rounded-semi{
    border-radius:  20px;
}

.rounded-full{
    border-radius: 50%;
}


.line-space{
    line-height: 40px;
}

.mb{
    margin-bottom: 30px;
}
.mt{
    margin-top: 30px;

}

.my{
    margin: 30px 0;
}

.mx{
    margin:  0 30px;
}

